.column {
  float: left;
  width: 175px;
}

.row {
  margin-left: 132.5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#button_column.column {
  width: 300px;
}

#button {
  width: 300px;
  height: 80px;
  background-color: rgb(118, 226, 118);
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 69px;
  border-style: solid;
  border-color: black;
  font-weight: 800px;
}