.column {
  float: left;
  width: 175px;
}

.row {
  margin-left: 132.5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#button_column.column {
  width: 300px;
}

#button {
  width: 300px;
  height: 80px;
  background-color: rgb(118, 226, 118);
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 69px;
  border-style: solid;
  border-color: black;
}

.back_row {
  margin-left: 1200px;
}

#back_button {
  width: 75px;
  height: 37.5px;
  background-color: rgb(247, 55, 55);
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 7px;
  border-style: solid;
  border-color: black;
}

#search_button {
  width: 300px;
  height: 80px;
  background-color: rgb(129, 145, 235);
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 69px;
  border-style: solid;
  border-color: black;
}

#search_input {
  width: 300px;
  height: 80px;
  background-color: rgb(255, 253, 218);
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-style: solid;
  border-color: black;
  text-align: center;
}